Crear las siguientes variables.

* Una variable donde asignes el nombre de una película
* Una variable que contenga los primeros 4 decimales de PI
* Una variable que contenga la cantidad de mascotas que tienes

In [2]:
pelicula="Batman"

In [1]:
pi=3.1416

In [3]:
mascotas=5

Imprime los siguientes mensajes utilizando format de tal manera que el resultado sea parecido a lo siguiente:

```bash
La película que elegi es Harry Potter
````

```bash
El valor de pi es 3.1416
````

```bash
La cantidad de mascotas que tengo son 2
````

In [6]:
print("La pelicula que elegí es "+ pelicula)

La pelicula que elegí es Batman

In [9]:
print(f"El valor de pi es {pi}")

El valor de pi es 3.1416

In [10]:
print(f"La cantidad de mascotas que tengo son {mascotas}")

La cantidad de mascotas que tengo son 5

Crea una tabla utilizando f strings donde salgan 3 empleos aleatorios, sus respectivos sueldos y el país donde radican.

In [66]:
empleos={"Doctor":["$15,000.00","México"],"Analista de datos":["20,000.00","México"],"Maestro":["$16,000.00","México"]}
empleos

{'Doctor': ['$15,000.00', 'México'],
 'Analista de datos': ['20,000.00', 'México'],
 'Maestro': ['$16,000.00', 'México']}

Desarrolla un programa donde pida 2 números y devuelva la suma, resta, multiplicación y división de los mismos.

In [18]:
numero1 = int(input("Introduzca un número"))
numero2 = int(input("Introduzca un número"))
print(f"La suma es: {numero1+numero2} ")
print(f"La resta es: {numero1-numero2} ")
print(f"La multiplicación es: {numero1*numero2} ")
print(f"La división es: {numero1/numero2} ")

La suma es: 2
La resta es: 0
La multiplicación es: 1
La división es: 1.0

In [68]:
numero1=int(input("Introduzca un número"))
numero2=int(input("Introduzca un número"))
print("La suma es:"+ str(numero1+numero2)+" La resta es:" + str(numero1-numero2) +" La multiplicación es:" + str(numero1*numero2) + " La división es: " + str(numero1/numero2))

La suma es:2 La resta es:0 La multiplicación es:1 La división es: 1.0

Crea una lista con 4 colores y despues ejecuta las siguientes lineas de código:

In [60]:
colores =["Rosa", "Azul", "Blanco", "Negro"]

In [20]:
print(f"El color 0 es {colores[0]}")
print(f"El color 1 es {colores[1]}")
print(f"El color 2 es {colores[2]}")
print(f"El color 3 es {colores[3]}")

El color 0 es Rosa
El color 1 es Azul
El color 2 es Blanco
El color 3 es Negro

Crea una lista con 4 ciudades y utilizando Slice, que aparezcan las 2 de enmedio

In [22]:
ciudades=["Roma","CDMX","L.A","Venecia"]
ciudades[1:3]

['CDMX', 'L.A']

De nuestra lista de ciudades, imprime la ultima ciudad

In [23]:
ciudades[-1]

'Venecia'

Agrega los siguientes datos a tu lista de colores: "Morado", "Rosa"

In [63]:
colores.append("Morado")
colores.append("Amarillo")

In [64]:
print(colores)

['Rosa', 'Azul', 'Blanco', 'Negro', 'Morado', 'Amarillo']

La siguiente lista contiene las alturas de 15 niños de cuarto grado, sacr el promedio de alturas.

In [2]:
alturas = [1.35, 1.56, 1.42, 1.22, 1.37, 1.23, 1.40, 1.25, 1.22, 1.37, 1.30, 1.15, 1.24, 1.31, 1.17]

In [6]:
prom=sum(alturas)/len(alturas)

In [7]:
prom

1.304

Obten la altura mas chica del grupo

In [25]:
min(alturas)

1.15

Obten la altura más alta del grupo

In [26]:
max(alturas)

1.56

Crea un diccionario de perros, donde lleva 2 claves: Nombre y Raza

In [10]:
Perro_1={"Nombre":"Rufus","Raza":"Pastor alemán"}
print(Perro_1)

{'Nombre': 'Rufus', 'Raza': 'Pastor alemán'}

Agrega una clave llamada Edad a nuestro diccionario y asignale un valor

In [9]:
Perro_1["Edad"]=1
print(Perro_1)

{'Nombre': 'Rufus', 'Raza': 'Pastor alemán', 'Edad': 1}

Crea 2 diccionarios de perro más incluyendo el valor edad.

In [12]:
Perro_2={"Nombre":"Honey","Raza":"Chihuahua","Edad":2}
print(Perro_2)

{'Nombre': 'Honey', 'Raza': 'Chihuahua', 'Edad': 2}

In [14]:
Perro_3={"Nombre":"Daemon","Raza":"Pastor belga","Edad":1}
print(Perro_3)

{'Nombre': 'Daemon', 'Raza': 'Pastor belga', 'Edad': 1}

Crea una lista llamada mascotas y dentro de los corchetes, agrega los 3 diccionarios

In [16]:
Perros=[Perro_1,Perro_2,Perro_3]
print(Perros)

[{'Nombre': 'Rufus', 'Raza': 'Pastor alemán'}, {'Nombre': 'Honey', 'Raza': 'Chihuahua', 'Edad': 2}, {'Nombre': 'Daemon', 'Raza': 'Pastor belga', 'Edad': 1}]