# Sesión 2

In [6]:
lista=["Hola","mi nombre es","Sabrina"]

In [7]:
"".join(lista)

'Holami nombre esSabrina'

In [8]:
"/".join(lista)

'Hola/mi nombre es/Sabrina'

In [9]:
" ".join(lista)

'Hola mi nombre es Sabrina'

In [12]:
string="Fuiste mi más bonita casualidad"

In [17]:
string.replace("Fuiste","Eres")

'Eres mi más bonita casualidad'

In [15]:
# split nos ayuda a separar una string

In [18]:
string.split(" ")

['Fuiste', 'mi', 'más', 'bonita', 'casualidad']

In [19]:
string.lower()

'fuiste mi más bonita casualidad'

In [20]:
string.upper()

'FUISTE MI MÁS BONITA CASUALIDAD'

In [21]:
string.title()

'Fuiste Mi Más Bonita Casualidad'

In [22]:
string.capitalize()

'Fuiste mi más bonita casualidad'

In [24]:
## Tuplas
# Almacenan datos, son inmutables (no son modificables)

In [25]:
tuple()

()

In [26]:
amigos=("Juan","Raul", "Sofía")

In [27]:
amigos

('Juan', 'Raul', 'Sofía')

In [28]:
amigos[0]

'Juan'

In [29]:
amigos[1]

'Raul'

In [30]:
amigos[2]

'Sofía'

In [31]:
amigos[1]="Sabrina"

TypeError: 'tuple' object does not support item assignment

In [32]:
a=20

In [33]:
b=15

In [34]:
c=30

In [35]:
numeros=a,b,c

In [36]:
numeros

(20, 15, 30)

In [37]:
type(numeros)

tuple

In [38]:
coordenadas=(19.76,-80.70)

In [39]:
latitud, longitud=coordenadas

In [40]:
latitud

19.76

In [41]:
longitud

-80.7

In [42]:
type(latitud)

float

In [44]:
amigos

('Juan', 'Raul', 'Sofía')

In [43]:
amigos[1:2]

('Raul',)

In [45]:
amigos[:2]

('Juan', 'Raul')

In [46]:
amigos[-1]

'Sofía'

In [33]:
frutas=["Manzana","Uva","Naranja"]

In [48]:
list(enumerate(frutas))

[(0, 'Manzana'), (1, 'Uva'), (2, 'Naranja')]

In [49]:
enumerados=list(enumerate(frutas))

In [50]:
enumerados

[(0, 'Manzana'), (1, 'Uva'), (2, 'Naranja')]

In [52]:
indice, elemento=enumerados[0]

In [53]:
indice

0

In [54]:
elemento

'Manzana'

In [56]:

## Conjuntos
#bolsa de bolsas

In [1]:
conjunto1={45, 6, 8, 10, 12,8, 10}
conjunto1

{6, 8, 10, 12, 45}

In [59]:
num=[5,7,8,10, 11, 15, 70, 89, 90]

In [60]:
set(num)

{5, 7, 8, 10, 11, 15, 70, 89, 90}

In [61]:
## Los conjuntos eliminan datos duplicados

In [62]:
conjunto1.add(50)

In [63]:
conjunto1

{6, 8, 10, 12, 45, 50}

In [66]:
conjunto1.remove(50)
conjunto1

{6, 8, 10, 12, 45}

In [64]:
## Union de conjuntos

In [70]:
a={1,2,3,4,5}
b={4,5,6,7,8,9}

In [71]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [74]:
a & b
# intersección

{4, 5}

DIFERENCIA DE CONJUNTOS

In [75]:
a-b

{1, 2, 3}

In [76]:
b-a

{6, 7, 8, 9}

Unión exclusiva

In [77]:
a^b

{1, 2, 3, 6, 7, 8, 9}

In [78]:
#Condicionales

In [79]:
5<10

True

In [80]:
20>45

False

In [81]:
15==15

True

In [82]:
5!=7

True

In [83]:
5>=5

True

In [84]:
17<=20

True

In [85]:
# Tablas de verdad

In [93]:
#AND
#elemento1 and element2

In [92]:
False and True

False

In [94]:
True and False

False

In [96]:
#OR
#False or False=False
#False or True=True
#True or False=True
#True or True

In [97]:
False or False

False

In [98]:
True or False

True

In [103]:
# not (Contrario)

In [100]:
not True

False

In [101]:
not False

True

In [105]:
# Operadores de pertenencia

In [106]:
frutas

['Manzana', 'Uva', 'Naranja']

In [107]:
'Manzana' in frutas

True

In [108]:
'Sandía' in frutas

False

In [109]:
"Platano" not in frutas

True

In [110]:
"Manzana" not in frutas

False

In [111]:
#Condicionales

In [114]:
num1=int(input("Dame un número"))

if num1>=0 :
    print("Es positivo")
else:
    print("Es negativo")

Es negativo

In [3]:
# Programa que reciba dos números y que imprima el mayor

num_1=int(input("Dame un número:"))
num_2=int(input("Dame otro número:"))

if num_1>num_2:
    print(f"El mayor es {num_1}")
else:
    print(f"El mayor es el {num_2}")

El mayor es el 5

In [5]:
num_1=int(input("Dame un número:"))
num_2=int(input("Dame otro número:"))

if num_1>num_2:
    print(f"El mayor es {num_1}.")
elif num_1<num_2:
     print(f"El mayor es el {num_2}.")
else:
    print("Los números son iguales.")

El mayor es el 6.

In [11]:
### Mal ejemplos
# Elevar al cuadrado 10 números
numeros_cuadrados=[]
numeros_cuadrados.append(1**2)
numeros_cuadrados.append(2**2)
numeros_cuadrados.append(3**2)
numeros_cuadrados.append(4**2)
numeros_cuadrados

[1, 4, 9, 16]

In [2]:
numeros_cuadrado=[]

In [18]:
for i in [0,1,2,3,4,5]:
    numeros_cuadrado.append(i**2)

In [19]:
numeros_cuadrado

[0, 1, 4, 9, 16, 25]

In [20]:
range(15)
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [3]:
for i in range(15):
    numeros_cuadrado.append(i**2)

print(numeros_cuadrado)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [29]:
friends=["Chandler","Monica","Rachel","Joey","Phoebe","Ross"]
for friend in friends:
    print(f". {friend}")

. Chandler
. Monica
. Rachel
. Joey
. Phoebe
. Ross

In [34]:
list(enumerate(frutas))

[(0, 'Manzana'), (1, 'Uva'), (2, 'Naranja')]

In [35]:
for indice, elemento in enumerate(frutas):
    print(f" La fruta {elemento} está en el lugar {indice}")

 La fruta Manzana está en el lugar 0
 La fruta Uva está en el lugar 1
 La fruta Naranja está en el lugar 2

In [39]:
coches=["Tsuro","BMW","Mercedes-Benz"]
colores=["blanco","azul","negro"]

In [40]:
for i in range(len(coches)):
    print(f"El coche {coches[i]} es de color {colores[i]}")

El coche Tsuro es de color blanco
El coche BMW es de color azul
El coche Mercedes-Benz es de color negro

In [ ]:
num=0
while count<=0:
    if num%22!=0:
        print(num)
    num +=1
continue num<=10