## Sesion 1

## Variable

In [1]:

print("Hola mundo")

Hola mundo

In [2]:
"Sabrina Contreras"

'Sabrina Contreras'

In [5]:
True

True

In [6]:
type("Sabrina")

str

In [7]:
type(89)

int

In [8]:
type(1.8)

float

In [9]:
mi_nombre="Sabrina Contreras"

In [11]:
mi_nombre

'Sabrina Contreras'

In [12]:
mi_edad=22

In [14]:
mi_altura=1.56

In [15]:
print(mi_nombre)
print(mi_altura)

Sabrina Contreras
1.56

## Format

1. Format Manual (Concatenar)
2. Format parentesis
3. F Strings

In [17]:
print("Mi nombre es: "+ mi_nombre)

Mi nombre es: Sabrina Contreras

In [18]:
print("Mi edad es %i" % mi_edad)

Mi edad es 22

In [19]:
print("Mi altura es {} y mi nombre es {}". format(mi_altura,mi_nombre))

Mi altura es 1.56 y mi nombre es Sabrina Contreras

In [20]:
print("Mi altura es {0} y mi nombre es {1}". format(mi_altura,mi_nombre))

Mi altura es 1.56 y mi nombre es Sabrina Contreras

In [21]:
print(f"Mi nombre es {mi_nombre} y mi edad es {mi_edad}")

Mi nombre es Sabrina Contreras y mi edad es 22

Relleno de f strings

In [22]:
print(f"Mi nombre es {mi_nombre:20} y mi edad es {mi_edad}")

Mi nombre es Sabrina Contreras    y mi edad es 22

In [24]:
print(f"Mi nombre es {mi_nombre:20}|{mi_edad:>3}")

Mi nombre es Sabrina Contreras   | 22

In [25]:
print(f"Mi nombre es {mi_nombre:-<20}|{mi_edad:->3}")

Mi nombre es Sabrina Contreras---|-22

Declaración de variables numéricas

In [27]:
a=10
b=5

In [28]:
print(a+b)

15

In [29]:
c , d =20, 25

In [30]:
print(c+d)

45

In [32]:
print(f"La suma de {c} + {d} es {c + d}")

La suma de 20 + 25 es 45

Ejercicio: Imprimir la multiplicación y división de c y d

In [33]:
print(f"La multiplicación de {c} x {d} es {c * d}")
print(f"La división de {c} / {d} es {c / d}")

La multiplicación de 20 x 25 es 500
La división de 20 / 25 es 0.8

Inputs

In [34]:
input("Dame tu nombre")

'Sabrina'

In [37]:
mi_nombre=input("Dame tu nombre:")

In [38]:
mi_nombre

'Sab'

In [41]:
mi_edad=input("Dame tu edad")
mi_edad*5

'2222222222'

In [42]:
int("5")

5

In [43]:
type(int("5"))

int

In [44]:
mi_edad=input("Dame tu edad")
mi_edad=int(mi_edad)
mi_edad*5

110

In [45]:
mi_edad=int(input("Dame tu edad"))

In [46]:
mi_edad*10

220

Listas

In [47]:
## Listas (arrays)

In [48]:
list()

[]

In [49]:
["Sabrina", "Beth"]

['Sabrina', 'Beth']

In [50]:
[22, 21]

[22, 21]

In [51]:
[True, False]

[True, False]

In [52]:
["Sab", 22, 1.56]

['Sab', 22, 1.56]

In [55]:
frutas=["Manzana", "Pera", "Naranja"]

In [56]:
print(frutas)

['Manzana', 'Pera', 'Naranja']

In [58]:
list(enumerate(frutas))

[(0, 'Manzana'), (1, 'Pera'), (2, 'Naranja')]

In [60]:
frutas[0]

'Naranja'

In [61]:
frutas[1]

'Pera'

Meter elementos a una lista

In [62]:
lista_vacia=[]

In [63]:
frutas.append("Uva")

In [64]:
print(frutas)

['Manzana', 'Pera', 'Naranja', 'Uva']

Slice

In [66]:
frutas[1:2]

['Pera']

In [68]:
frutas[1:3]
## Indice que inicia el slice y numero que no quieres que salga

['Pera', 'Naranja']

In [69]:
frutas[-1]

'Uva'

In [70]:
frutas[-2]

'Naranja'

In [71]:
frutas[::-1]

['Uva', 'Naranja', 'Pera', 'Manzana']

In [72]:
"Sabrina"[-1]

'a'

In [73]:
"Sabrina"[::-1]

'anirbaS'

In [74]:
"Anita lava la tina"[::-1]

'anit al aval atinA'

In [ ]:
# funciones: Funciones y parentesis
# Metodos : nombre y punto

Ejercicio: Crear una liusta que contenga 10 num desordenados que van de 0 a 10

In [75]:
num=[13, 16, 20 , 23, 99, 89, 60, 2, 15, 11]

In [77]:
num.sort()

In [78]:
num

[2, 11, 13, 15, 16, 20, 23, 60, 89, 99]

In [82]:
num.sort(reverse=True)

In [83]:
num

[99, 89, 60, 23, 20, 16, 15, 13, 11, 2]

In [84]:
sum(num)

348

Ejercicio. Sacar el promedio de sus num

In [ ]:
prom=sum(num)/10

In [85]:
prom=sum(num)/10

In [87]:
prom

34.8

In [88]:
len(num)

10

In [89]:
prom=sum(num)/len(num)

In [90]:
prom

34.8

$$Media = \frac{\sum_{i=0}^n i}{n}$$

In [91]:
min(num)

2

In [92]:
max(num)

99

Diccionarios

In [94]:
dict()
#Necesitan cave sy valores

{}

In [101]:
capitales={"España":"Madrid", "Francia":"París","Alemania":"Berlín"}

In [102]:
print(capitales)

{'España': 'Madrid', 'Francia': 'París', 'Alemania': 'Berlín'}

In [97]:
capitales['España']

'Madrid'

In [98]:
capitales['Francia']

'París'

In [99]:
capitales.keys()

dict_keys(['España', 'Francia', 'Alemania'])

In [103]:
capitales.values()

dict_values(['Madrid', 'París', 'Berlín'])

In [110]:
capitales.items()
#keys() # Devuelve las claves del diccionario
#values() # Devuelve los valores del diccionario
#items() # Devuelve los pares clave-valor del diccionario

dict_items([('España', 'Madrid'), ('Francia', 'París'), ('Alemania', 'Berlín'), ('México', 'CDMX')])

Agregar un elemento a un diccionario

In [106]:
capitales['México']='CDMX'

In [109]:
capitales

{'España': 'Madrid',
 'Francia': 'París',
 'Alemania': 'Berlín',
 'México': 'CDMX'}

In [111]:
datos_amigo={"Name":"Geral","Pais":"México"}

In [112]:
datos_amigo['Frutas']=frutas

In [113]:
print(datos_amigo)

{'Name': 'Geral', 'Pais': 'México', 'Frutas': ['Manzana', 'Pera', 'Naranja', 'Uva']}

In [114]:
datos_amigo

{'Name': 'Geral',
 'Pais': 'México',
 'Frutas': ['Manzana', 'Pera', 'Naranja', 'Uva']}

In [115]:
datos_amigo2={"Name":"Amanda","País":"UK"}

In [116]:
amigos=[datos_amigo, datos_amigo2]

In [117]:
amigos

[{'Name': 'Geral',
  'Pais': 'México',
  'Frutas': ['Manzana', 'Pera', 'Naranja', 'Uva']},
 {'Name': 'Amanda', 'País': 'UK'}]

In [118]:
len(amigos)

2